{% extends 'account/base.html' %}
{% load static %}

{% block content %}

    <div id="outer-wrapper">
        <div id="inner-wrapper">
            <h3>We have sent you a link to reset your password on your registered email address!</h3>
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
                </p>
                <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and <strong> check your spam folder. </strong>
                </p>
                <p>
                    If you forgot the email address. Please mail(<a href='mailto:admin@homecalculations.com'>admin@homecalculations.com</a>) and confirm yourself with us
                </p>
        </div>
    </div>
    <p>You will be redirected to login page in 3 seconds</p>
    <script>
        var timer = setTimeout(function() {
            window.location='/login/'
        }, 3000);
    </script>
{% endblock %}