
{% extends 'account/base.html' %}
{% load static %}
{% block content %}

            <!-- /Logo -->
            <h4 class="mb-2">Calculations starts here 🚀</h4>
            <p class="mb-4">Make your Expenses management easy!</p>

            <form id="formAuthentication" class="mb-3" method="POST">
              {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                    {{field}}
                    
                    {{field.errors}}
                  </div>
                {% endfor %}
              
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" required/>
                  <label class="form-check-label" for="terms-conditions">
                    I agree to
                    <a href="javascript:void(0);">privacy policy & terms</a>
                  </label>
                </div>
              </div>
              <button class="btn btn-primary d-grid w-100">Sign up</button>
            </form>

            <p class="text-center">
              <span>Already have an account?</span>
              <a href="{% url 'login' %}">
                <span>Sign in instead</span>
              </a>
            </p>
          </div>
        </div>
      
  {% endblock content %}